
:root {
    --gr-button-background: rgb(26, 115, 232);
    --gr-primary-background: #fff;
    --gr-secondary-background: rgba(0,0,0,.05);
    --gr-button-radius: 6px;
    --gr-dialog-radius: 6px;
    --gr-input-radius: 6px;
    --gr-primary-color: #000;
    --gr-secondary-color: #fff;
    --gr-system-font: Roboto, "Inter", Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--gr-system-font);
    color: var(--gr-primary-color);

    width: 100%;
    height: 100vh;
}

p {
    opacity: .7;
}
